<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>エントリーの編集</title>
</head>
<body>
    {% extends "learning_logs/../base.html" %}
    {% block content %}
        <p><a href="{% url 'learning_logs:topic' topic.id%}">{{ topic }}</a> </p>

        <p>エントリー編集</p>
        <form action="{% url 'learning_logs:edit_entry' entry.id%}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">編集保存</button>
        </form>
    {% endblock content %}
</body>
</html>